---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION, ARTISTS } from "../../consts";
import { getCollection } from "astro:content";

const posts = (await getCollection("2-siab")).sort(
  (a: any, b: any) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
const singer = ARTISTS.find((el: any) => el.value === "2-siab");
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={singer?.name || SITE_TITLE}
      description={singer?.description || SITE_DESCRIPTION}
    />
  </head>
  <body>
    <Header />
    <main class="max-w-6xl mx-auto px-4 py-3 min-h-screen">
      <h1 class="sr-only">2 siab songs</h1>
      <section>
        <ul>
          {
            posts.map((post: any) => (
              <li class="border-b pb-2 my-2">
                <a href={`/2-siab/${post.slug}/`} class="hover:underline">
                  <h4 class="text-md md:text-2xl">{post.data.title}</h4>
                </a>
                <p class="text-sm">{post.data.pubDate}</p>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
