---
import Layout from "../layouts/NotFound.astro";

const date = new Date();
---

<Layout
  title="404 - Page Not Found"
  description="Page not found"
  pubDate={date}
  heroImage="artists/nkauj.png"
>
  <div class="max-w-6xl mx-auto px-4 min-h-screen"></div>
</Layout>
