---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={`About Us - ${SITE_TITLE}`}
      description="Nkauj.com Welcome you to be here at nkauj.com"
    />
  </head>
  <body>
    <Header />
    <main class="max-w-6xl mx-auto px-4 min-h-screen">
      <div class="mt-5 md:mb-60">
        <div class="grid grid-cols-1">
          <div class="col-span-2">
            <h1 class="text-2xl font-bold border-b-2 pb-5">About Us</h1>
            <h2 class="text-xl font-bold mt-5">Who We Are</h2>
            <p>
              We are a passionate team of music enthusiasts dedicated to
              bringing you the best of hmong song lyrics.
            </p>
            <h2 class="text-xl font-bold mt-10">Our Mission</h2>
            <p>
              To delve into the depths of melodies and uncover the stories
              behind the lyrics.
            </p>
            <h2 class="text-xl font-bold mt-10">What We Offer</h2>
            <ul class="list-disc ml-10">
              <li>
                A curated collection of hmong song lyrics spanning genres and
                eras.
              </li>
              <li>
                In-depth analysis and interpretations to deepen your
                understanding of the music.
              </li>
              <li>
                Regular updates and insights into the latest hits and timeless
                classics.
              </li>
            </ul>
            <h2 class="text-xl font-bold mt-10">Join Us</h2>
            <p>
              Embark on a lyrical journey with us as we explore the power of
              music to inspire, evoke emotions, and unite us all.
            </p>
          </div>
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>
