---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={`${SITE_TITLE} Privacy Policy - ${SITE_TITLE} `}
      description="We at Nkauj.com respect your privacy and are committed to protect your personal information."
    />
  </head>
  <body>
    <Header />
    <main class="max-w-6xl mx-auto px-4">
      <div class="mt-5">
        <h1 class="text-2xl pb-2 font-bold border-b-2">
          {SITE_TITLE} Privacy Policy
        </h1>
        <div class="my-5">
          <p>
            We at Nkauj.com respect your privacy and are committed to protect
            your personal information. This privacy policy document outlines the
            type of personal information we collect from you and how it's used.
            By using our services, you agree to the collection and use of
            information in accordance with the policy.
          </p>
          <h1 class="text-2xl font-bold mt-5">
            Information collected and used
          </h1>
          <p>
            We collect serveral different types of information for various
            purposes to provide and improve our service to you.
          </p>
          <h2 class="font-bold text-xl mt-5">Types of Data Collected</h2>
          <h3 class="font-bold">Personal Data</h3>
          <p>
            While using our service, we may ask you to provide us with certain
            Personally Identifiable Information (PII) that can be used to
            contact or identify you("Personal Data"). PII may include, but is
            not limited to:
          </p>
          <ul class="list-disc pl-10 p">
            <li>Email address</li>
            <li>Cookies and usage data</li>
          </ul>
          <h3 class="font-bold">Usage data</h3>
          <p>
            We may also collect information how the service is accessed and used
            ("Usage data"). This Usage data may include information such as your
            computer's Internet Protocal address (e.g. IP address), browser
            type, browser version, unique device identifiers and other
            diagnostic data.
          </p>
          <h3 class="font-bold">Tracking & Cookies Data</h3>
          <p>
            We use cookies and similar tracking technologies to track the
            activity on our service and hold certain information.
          </p>
          <p>
            Cookies are files with small amount of data which may include an
            anonymous unique identifier. Cookies are sent to your browser from a
            website and stored on your device. Tracking technologies also used
            are beacons, tags, and scripts to collect and track information and
            to improve and analyze our service.
          </p>
          <p>
            You can instruct your browswer to refuse all cookies or to indicate
            when a cookie is being sent. However, if you do not accept cookies,
            you may not be able to use some portions of our service.
          </p>
          <p>Examples of Cookies we use:</p>
          <ul class="list-disc ml-10 p">
            <li>
              <b>Session Cookies.</b> We use Session Cookies to operate our servies.
            </li>
            <li>
              <b>Preference Cookies.</b> We use Preference Cookies to remember your
              preferences and various settings.
            </li>
            <li>
              <b>Security Cookies.</b> We use Security Cookies for security purposes.
            </li>
          </ul>
          <p>
            Third party venders, including Google, use cookies to serve ads
            based on our proir visits to our website or other websites.
          </p>
          <p>
            Google's use of advertising cookies enables it and its partners to
            serve ads to you based on your visit to our site and/or other sites
            on the Internet.
          </p>
          <p>
            You can opt out of personalized advertising by visting
            <a
              href="https://myadcenter.google.com/?sasb=true"
              class="text-blue-500 hover:underline">Ads Settings</a
            >. Alternatively, you can opt out of a third-party vendor's use of
            cookies for personalized advertising by visiting
            <a
              href="https://optout.aboutads.info/?c=2&lang=EN"
              class="text-blue-500 hover:underline">www.aboutads.info</a
            >.
          </p>
          <h2 class="text-xl mt-5 font-bold">Use of Data</h2>
          <p>Nkauj uses the collected data for various purposes:</p>
          <ul class="list-disc ml-10 p">
            <li>To provide and maintain the service</li>
            <li>To notify you about changes to our service</li>
            <li>
              To allow you to participate in interactive features of our service
              when you choose to do so
            </li>
            <li>To provide customer care and support</li>
            <li>
              To provide analysis or valuable information so that we can improve
              the service
            </li>
            <li>To monitor the usage of the service</li>
            <li>To detect, prevent and address technical issues</li>
          </ul>
          <h2 class="text-xl mt-5 font-bold">Transfer of Data</h2>
          <p>
            Your information, include Personal Data, may be transfered to -- and
            maintained on -- computers located outside of our state, provice,
            country or other governmental jurisdiction where the data protection
            laws may differ than those from your jurisdiction.
          </p>
          <p>
            Your consent to this Privacy Policy followed by our submission of
            such information represents your agreement to that transfer.
          </p>
          <p>
            Nkauj will take all steps reasonably necessary to ensure that your
            data is treated securely and in accordance with this Privacy Policy
            and no transfer of your Personal Data will take place to an
            organization or a country unless there are adequate controls in
            place including the security of your data and other personal
            information.
          </p>
          <h2 class="text-xl mt-5 font-bold">Disclose of Data</h2>
          <h3 class="font-bold">Legal Requirements</h3>
          <p>
            Nkauj may disclose your Personal Data in the faith belief that such
            action is necessary to:
          </p>
          <ul class="list-disc ml-10 p">
            <li>To comply with a legal obligation</li>
            <li>To protect and defend the rights or property of Nkauj</li>
            <li>
              To prevent or investigate possible wrongdoing in connection with
              the services
            </li>
            <li>
              To protect the personal safety of users of the service or the
              public
            </li>
            <li>To protect agaisnt legal liabiliy</li>
          </ul>
          <h2 class="text-xl mt-5 font-bold">Security Of Data</h2>
          <p>
            The security of your data is important to us, but remember that no
            method of transmission over the Internet, or method of electronic
            storage is 100% secure. While we strive to use commercially
            acceptable means to protect your Personal Data, we cannot guarantee
            its absolute security.
          </p>
          <h2 class="text-xl mt-5 font-bold">Service Providers</h2>
          <p>
            We may employ third party companies and individuals to facilitate
            our Service (“Service Providers”), to provide the Service on our
            behalf, to perform Service-related services or to assist us in
            analyzing how our Service is used.
          </p>
          <p>
            These third parties have access to your Personal Data only to
            perform these tasks on our behalf and are obligated not to disclose
            or use it for any other purpose.
          </p>
          <h2 class="text-xl mt-5 font-bold">Links To Other Sites</h2>
          <p>
            Our Service may contain links to other sites that are not operated
            by us. If you click on a third party link, you will be directed to
            that third party’s site. We strongly advise you to review the
            Privacy Policy of every site you visit.
          </p>
          <p>
            We have no control over and assume no responsibility for the
            content, privacy policies or practices of any third party sites or
            services.
          </p>
          <h2 class="text-xl mt-5 font-bold">Children’s Privacy</h2>
          <p>
            Our Service does not address anyone under the age of 18
            (“Children”).
          </p>
          <p>
            We do not knowingly collect personally identifiable information from
            anyone under the age of 18. If you are a parent or guardian and you
            are aware that your Children has provided us with Personal Data,
            please contact us. If we become aware that we have collected
            Personal Data from children without verification of parental
            consent, we take steps to remove that information from our servers.
          </p>
          <h2 class="text-xl mt-5 font-bold">Changes To This Privacy Policy</h2>
          <p>
            We may update our Privacy Policy from time to time. We will notify
            you of any changes by posting the new Privacy Policy on this page.
          </p>
          <p>
            We will let you know via email and/or a prominent notice on our
            Service, prior to the change becoming effective and update the
            “effective date” at the top of this Privacy Policy.
          </p>
          <p>
            You are advised to review this Privacy Policy periodically for any
            changes. Changes to this Privacy Policy are effective when they are
            posted on this page.
          </p>
          <p class="mt-5">
            If you have any concerns about our privacy policy, please contact us
            at sou.dev3@gmail.com.
          </p>
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>
