---
import { getCollection } from "astro:content";

const  { name } = Astro.props;
const { slug } = Astro.params;

const posts = (await getCollection("guitar")).filter((post:any) => post.id.includes(name) && post.slug !== slug);
---
{ posts.length >0 &&
	<div class="mt-10">
		<p>Related song</p>
	</div>
	<div class="border-b" />
    <div>
        {
          posts.map((post: any) => (
            <div class="border-b mb-1 pb-1">
              <a
                href={`/guitar/${post.slug}/`}
                class="shadow-md rounded shadow-orange-300 hover:shadow-orange-600"
              >
                <h5>{post.data.title}</h5>
              </a>
              <p class="text-sm mt-n4">{post.data.pubDate}</p>
            </div>
          ))
        }
    </div>
}
