---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

type Props = CollectionEntry<"nkauj">["data"];

const { title, description, pubDate } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Header />
    <main class="max-w-6xl mx-auto px-4">
      <article>
        <div>
          <h1 class="text-3xl font-bold">{title}</h1>
          <p class="text-sm">
            {pubDate}
          </p>
          <hr class="my-2" />
        </div>
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
